<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  </style>
       <app-navbar></app-navbar>
      <nav class="navbar">
        <h1 style="text-align: center;">VIEW EXPENSES</h1>
      </nav>
     
      <body>
         <div class="button-container">
            <tr>
                <td><button (click)="expenseList()" (click)="buttonCall()">List of Expenses</button></td>
            </tr>
          
        </div>
          <table>
            <tr>
              <th>Id</th>
              <th>Category</th>
              <th>Description</th>
              <th>Date</th>
              <th>Amount</th>
             
            </tr>
            <tr *ngFor="let item of ExpenseList">
              <td>{{ item.id }}</td>
              <td>{{ item.category }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.amount }}</td>
       
            </tr>
          </table>
        </body>
    
        <!-- <div *ngIf="expenseList && expenseList.length > 0">
          <div class="button-container">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of expenseList">
                <td>{{expense.ID}}</td>
                <td>{{expense.Category}}</td>
                <td>{{expense.Description}}</td>
                <td>{{expense.Date | date:'shortDate'}}</td>
                <td>{{expense.Amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!expenseList || expenseList.length === 0">
          <p>No expenses found.</p>
        </div>
         -->
    
     
 

